@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./img/pxfuel.jpg);
    color: white;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.landing-inner{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10rem;
    font-family: sans-serif;
}

.landing-inner h1{
    font-size: 5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: none;
    background: rgb(0, 183, 255);
    font-family: serif;
}

.countdown{
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.countdown div{
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background: #00000069;
    margin: 5px;
    width: 200px;
    font-family: sans-serif;
    color: black;
    color: white;
}

.countdown span{
    display: block;
    font-size: 25px;
}

@media (min-width: 320px) {
    .countdown {
        display: flex;
        flex-wrap: wrap;
    } 
    .landing-inner {
        padding-top: 70px;
    }
    .landing-inner h1 {
        font-size: 50px;
    }
    .countdown{
        font-size: 50px;

    }
    .countdown div{
        padding: 20px;
        margin: 5px;
        width: 170px;
        height: 170px;
    }
    .countdown span{
        font-size: 20px;
    }
    
}

@media (min-width: 768px) {
    .countdown {
        display: flex;
        flex-wrap: wrap;
    }
    .landing-inner {
        padding-top: 5rem;
    }
    .landing-inner h1 {
        font-size: 5rem;
    }
    .countdown{
        font-size: 70px;

    }
    .countdown div{
        padding: 20px;
        margin: 5px;
        width: 200px;
        height: 200px;
    }
    .countdown span{
        font-size: 25px;
    }
}

@media (min-width: 840px) {
    .landing-inner {
        padding-top: 10rem;
    }   
}